<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" , charset="utf-8" http-equiv="expires" content="0">
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="room_style.css">
    <script type="text/javascript" src="room_script.js"></script>
</head>

<body>
    <div id="wrapper">
            <h1 style="display:inline;">BATTLE SHIP</h1>
            <h2 style="display:inline;">Chọn phòng</h2>
            <div id="container">
                <div id="left" class="room_element container">
                    <h2>Người dùng</h2>
                    <div>
                        Hello: <span id="name"></span><br>
                        Số trận thắng: <span id="no_game"></span><br>
                        chỉ số bắn (trúng/bắn): <span id="ratio"></span><br>
                    </div>

                    <button id="btn_logout">logout</button>
                    <button id="btn_change_gamepad">change_gamepad</button>
                </div>
                <div id="right" class="container room_element">
                    <div>
                        <h2>Các phòng hiện có</h2>
                    </div>
                    <div id="room_create">
                        <h4  style="display:inline;">tên phòng: </h4>
                        <input style="text-align: justify;" maxlength="15" id="input_name" width="10"></input>
                        <button id="btn_create_room">tạo phòng</button>
                    </div>
                    <h4 id="error1" class="error hidden">Tên phòng đã tồn tại</h4>
                    <h4 id="error2" class="error hidden">xin hãy nhập tên phòng</h4>
                    <div id="room_container" class="room_element">
                    </div>
                </div>
            </div>
</body>

</html>