<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('18.136.212.75');
    
    // socket.emit("Get_All_Remote_Status");

    socket.on("Cookie_Fail",function(){
    alert("Call back login from selectRemote! ejs");
        window.location.href = './login';
    })

    socket.on("Server_Gamepad_Status",function(data)
    {
        console.log("Sever_Gamepad_Status receive");
		var gamePad_ArrLength = data.length;
		var gamePad_Status_Arr = [];
		var gamePad_ID_Arr = [];
		for(var i = 0; i < gamePad_ArrLength;i++)
		{
			gamePad_Status_Arr[i] = data[i];
			gamePad_ID_Arr[i] = "player" + (i+1);
		}
		
		for(var i = 0; i < gamePad_ArrLength;i++)
		{
			if(gamePad_Status_Arr[i] == true)
			{
				$(gamePad_ID_Arr[i]).removeClass("gamepad_noConnect");
				$(gamePad_ID_Arr[i]).after("Player"+ (i+1));
			}
		}
		
		for(var i = 0; i < gamePad_ArrLength;i++)
		{
			if(gamePad_Status_Arr[i] == true)
			{
				$("#player1").attr("disabled",true);
			}
			else {
				$("#player1").attr("disabled",false);
			}
		}
    })
    $(document).ready(function(){
        var serverCheck = {
            "type": "selectRemote",
            "username": getCookie("username"),
            "cookie": getCookie("seasion")
        }
        // alert(document.cookie);
        socket.emit("from",serverCheck);
        socket.emit("Client_Gamepad_Status");
        var check = 0;
        $("#submitbtn").click(function(){
          console.log (check)
        if(check == 0)
        {
          alert("No remote seledted!");
        }
        else if (check == 3){
              socket.emit("Client_Select_Gamepad",check);
              window.location.href = './index';
        }
        else {
          socket.emit("Client_Select_Gamepad",check);
              window.location.href = './index';
        }
      
        });
		// ==========================FOR TEST ONLY=======================================
		// ==========================FOR TEST ONLY=======================================
		 <!-- $("#NoGamePad").click(function(){ -->
		<!-- var gamePad_ArrLength = 4; -->
		<!-- var gamePad_Status_Arr = [true,true,true,true]; -->
		<!-- var gamePad_ID_Arr = []; -->
		<!-- for(var i = 0; i < gamePad_ArrLength;i++) -->
		<!-- { -->
			<!-- gamePad_ID_Arr[i] = "#player" + (i+1); -->
		<!-- } -->
		
		<!-- for(var i = 0; i < gamePad_ArrLength;i++) -->
		<!-- { -->
			<!-- if(gamePad_Status_Arr[i] == true) -->
			<!-- { -->
				<!-- $(gamePad_ID_Arr[i]).removeClass("gamepad_noConnect"); -->
				<!-- $(gamePad_ID_Arr[i]).after("Player"+ (i+1)); -->
			<!-- } -->
		<!-- } -->
		<!-- for(var i = 0; i < gamePad_ArrLength;i++) -->
		<!-- { -->
			<!-- if(gamePad_Status_Arr[i] == true) -->
			<!-- { -->
				<!-- $(gamePad_ID_Arr[i]).attr("disabled",true); -->
			<!-- } -->
			<!-- else { -->
				<!-- $(gamePad_ID_Arr[i]).attr("disabled",false); -->
			<!-- } -->
		<!-- } -->
		 <!-- }); -->
		 // ==========================FOR TEST ONLY=======================================
		 // ==========================FOR TEST ONLY=======================================
		for(var i = 0 ; i < gamePad_ArrLength; i++)
		{
			$(gamePad_ID_Arr[i]).click(function(){
				check = i + 1;
			});
		}

        $("#NoGamePad").click(function(){
          check = 9
        });
    });

        function getCookie(name) {
        var nameEQ = name + "=";
        //alert(document.cookie);
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(nameEQ) != -1) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>
    <style>
        .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.selected_remote{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .color
{
  background-color : grey;
} */
.active{
  background-color : black;
}

.form_select_remote {
  position: absolute;
    left: 850px;
    padding: 20px;
    width: 400%;
    background-csolor: #f1f1f1;
    height: 200px; /* only for demonstration, should be removed */
}
.active{
  background-color : black;
}

.highlight {
    border: 18px solid red;
   padding: 10px;
    border-radius: 25px;
}


.backgr {
    /* The image used */
    background-image: url("bluegr.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gamepad_noConnect{
		visibility: hidden;
}
</style>
</head>

<body class="backgr">
    <form class="form_select_remote">
        <input id="player1" class = "gamepad_noConnect" type="radio" name="gender" value="Player1"> <br>
        <input id="player2" class = "gamepad_noConnect" type="radio" name="gender" value="Player2"> <br>
		<input id="player3" class = "gamepad_noConnect" type="radio" name="gender" value="Player3"> <br>
		<input id="player4" class = "gamepad_noConnect" type="radio" name="gender" value="Player4"> <br>
		<input id="player5" class = "gamepad_noConnect" type="radio" name="gender" value="Player5"> <br>
		<input id="player6" class = "gamepad_noConnect" type="radio" name="gender" value="Player6"> <br>
		<input id="player7" class = "gamepad_noConnect" type="radio" name="gender" value="Player7"> <br>
		<input id="player8" class = "gamepad_noConnect" type="radio" name="gender" value="Player8"> <br>
        <input id="NoGamePad" type="radio" name="gender" value="No gamepad">No gamepad<br>
        <br><br>
        <input type="button" id="submitbtn" value="Submit" />

    </form>
	
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>