<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('18.136.212.75');
		var gamePad_ArrLength;
		var gamePad_Name_Arr = [];
		var gamePad_ID_Arr = [];
		 var check = "NoGamePad";
    // socket.emit("Get_All_Remote_Status");

    socket.on("Cookie_Fail",function(){
    //alert("Call back login from selectRemote! ejs");
        window.location.href = './login';
    })

    socket.on("Server_Gamepad_Status",function(data)
    {
		//alert("Status: " + data[0].status);
        console.log("Sever_Gamepad_Status receive");
		gamePad_ArrLength = data.length;
		for(var i = 0; i < gamePad_ArrLength;i++)
		{
			//gamePad_Status_Arr[i] = data[i];
			gamePad_Name_Arr[i] = data[i].address;
			//alert("GamePad  ID: " + gamePad_Name_Arr[i])
			gamePad_ID_Arr[i] = "#player" + (i+1);
			if(data[i].status == true)
			{
				$(gamePad_ID_Arr[i]).attr("disabled",false);
				$(gamePad_ID_Arr[i]).attr("name",gamePad_Name_Arr[i]);
			}
			else
			{
				$(gamePad_ID_Arr[i]).attr("disabled",true);
				$(gamePad_ID_Arr[i]).attr("name",gamePad_Name_Arr[i]);
			}
			
		}
		//alert("Number of Connected : " + gamePad_ArrLength);
		for(var i = 0; i < gamePad_ArrLength;i++)
		{
			//if(gamePad_Status_Arr[i] == true)
			//{
		//		alert("ComeHere!" + gamePad_ID_Arr[i]);
				$(gamePad_ID_Arr[i]).removeClass("gamepad_noConnect");
				$(gamePad_ID_Arr[i]+"_text").text(gamePad_Name_Arr[i]);
			//}
		}
		//alert("Name Gamepad: " + gamePad_Name_Arr[0]);
		<!-- for(var i =0 ; i < gamePad_ArrLength ;i++) -->
		<!-- { -->
			<!-- $(gamePad_ID_Arr[i]).click(function(){		// "#player1" -->
			<!-- alert("function clicked!"); -->
			<!-- alert("Assign check: " + gamePad_Name_Arr[i - 1] + "--" + i); -->
			<!-- check = gamePad_Name_Arr[i - 1]; -->
		<!-- }); -->
		<!-- } -->
		
    })
    $(document).ready(function(){
        var serverCheck = {
            "type": "selectRemote",
            "username": getCookie("username"),
            "cookie": getCookie("seasion")
        }
        // alert(document.cookie);
        socket.emit("from",serverCheck);
        socket.emit("Client_Gamepad_Status");
		
		 $("form input:radio").click(function(event){	
			var 	name_Gamepad;	  
			 check = event.target.name;
		 }); 
		
        $("#submitbtn").click(function(){
		  if(check == "NoGamePad")
		  {
			alert("No remote selected!");
		  }
			else{
				//alert(" Now send data to server! " + check); 
				socket.emit("Client_Select_Gamepad",check);
				window.location.href = './room';
			}
      
        });
		// ==========================FOR TEST ONLY=======================================
		// ==========================FOR TEST ONLY=======================================
		 <!-- $("#NoGamePad").click(function(){ -->
		<!-- var gamePad_ArrLength = 4; -->
		<!-- var gamePad_Status_Arr = [true,true,true,true]; -->
		<!-- var gamePad_ID_Arr = []; -->
		<!-- for(var i = 0; i < gamePad_ArrLength;i++) -->
		<!-- { -->
			<!-- gamePad_ID_Arr[i] = "#player" + (i+1); -->
		<!-- } -->
		
		<!-- for(var i = 0; i < gamePad_ArrLength;i++) -->
		<!-- { -->
			<!-- if(gamePad_Status_Arr[i] == true) -->
			<!-- { -->
				<!-- $(gamePad_ID_Arr[i]).removeClass("gamepad_noConnect"); -->
				<!-- $(gamePad_ID_Arr[i]).after("Player"+ (i+1)); -->
			<!-- } -->
		<!-- } -->
		<!-- for(var i = 0; i < gamePad_ArrLength;i++) -->
		<!-- { -->
			<!-- if(gamePad_Status_Arr[i] == true) -->
			<!-- { -->
				<!-- $(gamePad_ID_Arr[i]).attr("disabled",true); -->
			<!-- } -->
			<!-- else { -->
				<!-- $(gamePad_ID_Arr[i]).attr("disabled",false); -->
			<!-- } -->
		<!-- } -->
		 <!-- }); -->
		 // ==========================FOR TEST ONLY=======================================
		 // ==========================FOR TEST ONLY=======================================

    });

        function getCookie(name) {
        var nameEQ = name + "=";
        //alert(document.cookie);
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(nameEQ) != -1) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>
    <style>
        .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.selected_remote{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .color
{
  background-color : grey;
} */
.active{
  background-color : black;
}

.form_select_remote {
  position: absolute;
    left: 850px;
    padding: 20px;
    width: 400%;
    background-csolor: #f1f1f1;
    height: 200px; /* only for demonstration, should be removed */
}
.active{
  background-color : black;
}

.highlight {
    border: 18px solid red;
   padding: 10px;
    border-radius: 25px;
}


.backgr {
    /* The image used */
    background-image: url("bluegr.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gamepad_noConnect{
		visibility: hidden;
}
</style>
</head>

<body class="backgr">
    <form class="form_select_remote">
        <input id="player1" class = "gamepad_noConnect" type="radio" value="Player1"><span id="player1_text"></span><br>
        <input id="player2" class = "gamepad_noConnect" type="radio" value="Player2"><span id="player2_text"></span> <br>
		<input id="player3" class = "gamepad_noConnect" type="radio" value="Player3"><span id="player3_text"></span> <br>
		<input id="player4" class = "gamepad_noConnect" type="radio" value="Player4"><span id="player4_text"></span> <br>
		<input id="player5" class = "gamepad_noConnect" type="radio" value="Player5"><span id="player5_text"></span> <br>
		<input id="player6" class = "gamepad_noConnect" type="radio" value="Player6"><span id="player6_text"></span> <br>
		<input id="player7" class = "gamepad_noConnect" type="radio" value="Player7"><span id="player7_text"></span> <br>
		<input id="player8" class = "gamepad_noConnect" type="radio" value="Player8"><span id="player8_text"></span> <br>
        <br><br>
        <input type="button" id="submitbtn" value="Submit" />

    </form>
	
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>