<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io.connect('http://localhost:3000');
    
    // socket.emit("Get_All_Remote_Status");

    socket.on("Cookie_Fail",function(){
        window.location.href = './login';
    })

    socket.on("Sever_Gamepad_Status",function(data)
    {
        var remote1 = data.status1;
        var remote2 = data.status2;
       // alert("status 1: " + remote1 + "   status 2:" + remote2);
        if(remote1 == true)
        {
            $("#remote1").addClass("selected_remote");
            $("#player1").attr("disabled",true);
        }
        if(remote2 == true)
        {
            $("#remote2").addClass("selected_remote");
            $("#player2").attr("disabled",true);
        }
    })
    $(document).ready(function(){
        var serverCheck = {
            "type": "selectRemote",
            "username": getCookie("username"),
            "cookie": getCookie("seasion")
        }
        // alert(document.cookie);
        socket.emit("from",serverCheck);
        socket.emit("Transfer_to_selectRemote");
        var check = 1;
        $("#submitbtn").click(function(){
            socket.emit("Client_Select_Gamepad",check);
            window.location.href = './index';
        });
        $("#player1").click(function(){
            if(check ===2)
            {
                $('#remote1').toggle('highlight');
                $('#remote2').toggle('highlight');
            }
            else if(check === 0){
                $('#remote2').toggle('highlight');
                }
                $("#player1").text("1");
                check = 1;
            });
            $("#player2").click(function(){
            if(check === 1){
                $('#remote1').toggle('highlight');
                $('#remote2').toggle('highlight');
            }
            else if(check ===0)
            {
                $('#remote1').toggle('highlight');
                }
                $("#player2").text("1");
                check = 2;
        });
    });

        function getCookie(name) {
        var nameEQ = name + "=";
        //alert(document.cookie);
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(nameEQ) != -1) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.selected_remote{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .color
{
	background-color : grey;
} */
.active{
	background-color : black;
}

.form_select_remote {
  position: absolute;
    left: 850px;
    padding: 20px;
    width: 400%;
    background-csolor: #f1f1f1;
    height: 200px; /* only for demonstration, should be removed */
}
.active{
	background-color : black;
}

.highlight {
    border: 18px solid red;
	 padding: 10px;
    border-radius: 25px;
}

.borderImage{
    border: 6px solid green;
    padding: 10px;
    border-radius: 25px;
}
.backgr {
    /* The image used */
    background-image: url("bluegr.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body class = "backgr">
	<!-- <nav class="navbar navbar-inverse" id="fatherID" >
		<a class="navbar-brand" href="./index">Battle Ship</a>
			<ul class="nav navbar-nav">
				<li class = "color">
					<a href="./index">Game Play</a>
				</li>
				<li class="color">
					<a href="./login">Logout</a>
				</li>
				<li class="color active">
					<a href="./login">Select Remote</a>
				</li>
			</ul>
		</nav>
  </nav> -->
<form class = "form_select_remote">
    <input  id = "player1" type="radio" name="gender" value="Player1"> Player1<br>
    <input  id = "player2" type="radio" name="gender" value="Player2"> Player2<br> 
    <br><br>
    <input type="button" id = "submitbtn" value="Submit" />
    <!-- Player 1: <label class="switch"></label>
        <input type="radio" >
        <span class="slider round" id = "player1" ></span>
    </label><br><br>
        
    Player 2:<label class="switch">
        <input type="radio">
        <span class="slider round" id = "player2"></span>
    </label>  -->
</form>
    <p id = "image">
        <img class = "borderImage" id = "remote1" src="remote 1.jpg" style="float:left;width:650px;height:650px;" alt="Trulli"/>
        <img class = "borderImage" id = "remote2" src="remote 2.jpg" style="float:right;width:650px;height:650px;" alt="Trulli"/>
    </p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>